
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a href="/" class="btn btn-default navbar-btn">Back Home</a>

    </div>
    <div class="pull-right">
        <a class="navbar-brand" href="/">
          Barter
        </a>
    </div>
  </div>
</nav>
