<!-- items-index -->

    <h1>AVAILABLE ITEMS</h1>
    <br>
    <br>
    <div class="container">
        <div class="mini-container">
        <a class="new-items" href="/items/new">Add New Item</a>
        </div>
        <br>
        <br>


        <div class="mini-container">
            <div class="row">
                {{#each items}}
                <!-- <div class="col-sm-3"> -->
                <h2><a href="/items/{{this._id}}">{{this.title}}</a><h2>
                    <small>{{this.itemTitle}}</small>
                <!-- </div> -->
                {{/each}}
            </div>
        </div>
    </div>
