<!-- views/reviews-new.handlebars -->

<form method="POST" action="/items">
  <fieldset>
    <legend>Add New Item</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Title</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="itemTitle">Name of Item</label><br>
      <input type="text" name="itemTitle" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save</button>
  </p>

</form>
