<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/items/{{item._id}}?_method=PUT">
          {{> items-form}}
          <!-- BUTTON -->
          <p>
            <button type="submit">Save Item Listing</button>
          </p>
        </form>
    </div>
</div>
